* {
  box-sizing: border-box;
}

:root {
  --background-color: #0b0b0e;
  --text-color: #ffffff;
  --neon-green: #39ff14;
  --button-hover-glow: 0 0 10px rgba(57, 255, 20, 0.8), 0 0 20px rgba(57, 255, 20, 0.6);
  --button-default-glow: 0 0 8px rgba(57, 255, 20, 0.4), 0 0 12px rgba(57, 255, 20, 0.3);
  --gamba-ui-border-radius: 10px;

  --gamba-ui-primary-color: var(--neon-green);

  --gamba-ui-button-default-background: #0e0e16;
  --gamba-ui-button-default-background-hover: #11111d;
  --gamba-ui-button-default-color: var(--neon-green);

  --gamba-ui-button-main-background: #0e0e16;
  --gamba-ui-button-main-color: var(--neon-green);
  --gamba-ui-button-main-background-hover: #11111d;

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: var(--text-color);
  --gamba-ui-input-background-hover: #11111d;
}

body, input, button, textarea, pre {
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin: 0;
}

body {
  background: url('https://i.postimg.cc/WbKkB01V/stuffdoe-Create-a-hyper-realistic-4-K-image-of-a-gold-slot-mac-17096922-31c2-42f9-959f-020b14585f4c-1.png') no-repeat center center fixed; /* Use a URL to a Las Vegas-style background */
  background-size: cover;
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  filter: drop-shadow(0 0 10px rgba(57, 255, 20, 0.5));
}

button {
  background: var(--gamba-ui-button-default-background);
  color: var(--gamba-ui-button-default-color);
  border: none;
  border-radius: var(--gamba-ui-border-radius);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--button-default-glow);
}

button:hover {
  background: var(--gamba-ui-button-default-background-hover);
  box-shadow: var(--button-hover-glow);
}

.gamba-ui-main-button {
  background: var(--gamba-ui-button-main-background);
  color: var(--gamba-ui-button-main-color);
}

.gamba-ui-main-button:hover {
  background: var(--gamba-ui-button-main-background-hover);
  box-shadow: var(--button-hover-glow);
}

input, textarea {
  background: var(--gamba-ui-input-background);
  color: var(--gamba-ui-input-color);
  border: 1px solid var(--neon-green);
  border-radius: var(--gamba-ui-border-radius);
  padding: 8px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

input:hover, textarea:hover {
  background: var(--gamba-ui-input-background-hover);
}

a {
  color: var(--neon-green);
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

a:hover {
  text-shadow: 0 0 8px rgba(57, 255, 20, 0.8);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--neon-green);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(57, 255, 20, 0.5);
}
